doctype html
html(lang="en")
  head
    title /dev/night 17.01.2017
  body
    .reveal
      .slides
        section
          img(src=require("./assets/dev_night-logo.png"))
          h3 17.01.2017
        section
          img(src=require("./assets/ggj-logo.png"))
          h3 20.01 - 22.01.2017
          a(href="http://tradebyte.com/ggj") tradebyte.com/ggj
        section
          section
            h1 General Advice
          section
            h2 Dos
            ul
              li.fragment Keep it simple
              li.fragment
                | Think
                strike  big
                |  small
              li.fragment 2D
              li.fragment Use game engines
              li.fragment Work in teams of 4-5 people
              li.fragment Communicate
              li.fragment Sleep / Eat / Drink
          section
            h2 Don'ts (Avoid)
            ul
              li.fragment 3D
              li.fragment Multiplayer
              li.fragment Networking
              li.fragment Reinventing the wheel
