doctype html
html(lang="en")
  head
    title /dev/night 17.01.2017
  body
    .reveal
      .slides
        section
          h1 /dev/night
          h2 17.01.2017
        section
          h1 Slide 2
