.line
  display: block

.line.focus
  background: #555

.reveal .slides section .fragment.current-only
  opacity: 1
  visibility: visible
  display: none

.reveal .slides section .fragment.current-only.current-fragment
  display: block

.reveal section img
  border: none !important

p.horizontal-flex
  align-items: center
  display: flex
  justify-content: space-around
  flex-wrap: wrap
